<div class="w-100 p-3 flex justify-center items-center align-middle text-white">
  <div class="flex-initial">
    <h1 class="text-xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600">drischdaan</h1>
  </div>
  <div class="flex-1 flex justify-center items-center">
    <ul class="flex justify-center items-center gap-3">
      <li>
        <a href="#home">Home</a>
      </li>
      <li>
        <a href="#about">About</a>
      </li>
      <li>
        <a href="#projects">Projects</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </div>
  <div class="flex-initial">

  </div>
</div>